<h1>Cart</h1>

<% if !@items.empty? %>
<center>
<table class = "cart-items">
  <tr>
    <th>Item</th>
    <th>Sold By</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% @items.each do |item,quantity| %>
    <tr id= "cart-item-<%=item.id%>">
      <td>
        <p align = "center">
          <span>
            <img align = "center" id="cart-image" src= <%= item.image %>>
            <%=link_to item.name, "/items/#{item.id}" %>
          </span>
        </p>
      </td>
      <td>
        <p align = "center">
          <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}"%>
        </p>
      </td>
      <td>
        <section id = "price">
          <% discount = item.find_discount(quantity) %>
          <p><%=number_to_currency(item.discounted_price(quantity))%></p>
          <% if discount %>
            <p><%= "#{discount.name} discount applied!" %></p>
            <p><%= "#{discount.percentage}% savings!" %></p>
          <% end %>
        </section>
      </td>
      <td>
        <center>
          <section class="quantity">
            <%= button_to "+", "/cart/#{item.id}/increment", method: :patch %>
            <p><%=quantity%></p>
            <%= button_to "-", "/cart/#{item.id}/decrement", method: :patch %>
          </section>
          <p><%= link_to "Remove", "/cart/#{item.id}",method: :delete %></p>
        </center>
        </td>
      <td>
        <section id = "subtotal">
          <p><%=number_to_currency(cart.subtotal(item))%></p>
        </section>
    </td>
    </tr>
  <% end %>
</table>
  <p>Total: <%= number_to_currency(cart.total) %></p>
  <p><%= link_to "Empty Cart", "/cart", method: :delete %></p>
  <% if current_user %>
    <p><%= link_to "Checkout", "/orders/new", method: :get %></p>
  <% else %>
    <section class="checkin">
      <p>You must register or log in to finish the checkout process</p>
      <p><%= link_to "Log In", "/login", method: :get %></p>
      <p><%= link_to "Register", "/register", method: :get %></p>
    </section>
  <% end %>
<% else %>
  <h3 align= "center">Cart is currently empty</h3>
<% end %>
<table>
</center>
