<h1>Welcome To Your Page: <%= current_user.name %></h1>
<h3><ul>
    <%= "Name: #{current_user.name}" %><br>
    <%= "Address: #{current_user.address}" %><br>
    <%= "City: #{current_user.city}" %><br>
    <%= "State: #{current_user.state}" %><br>
    <%= "Zip Code: #{current_user.zip}" %><br>
    <%= "Email: #{current_user.email}" %><br>
</ul></h3>

<% if Order.all != [] %>
  <%= link_to "My Orders", "/profile/orders" %>
<% end %>
<%= link_to "Edit Profile", "/profile/edit" %>
<%= link_to "Edit Password", "/password/edit" %>
