<h1 align = "center">Merchants</h1>
<% if current_admin_user? %>
  <p align="center"><%= link_to "New Merchant", "/merchants/new" %></p>
<% end %>
<section class = "grid-container">
  <% @merchants.each do |merchant|%>
    <section class = "grid-item" id='merchant-<%= merchant.id %>' >
      <% if current_admin_user? %>
        <h2>
          <%=link_to merchant.name, "/admin/merchants/#{merchant.id}"%>
        </h2>
          <% if merchant.enabled? %>
            <%= button_to "Disable Merchant", "/admin/merchants/#{merchant.id}", method: :patch %>
            <p>Enabled</p>
          <% else %>
            <%= button_to "Enable Merchant", "/admin/merchants/#{merchant.id}", method: :patch %>
            <p>Disabled</p>
          <% end %>
      <% else %>
        <h2><%=link_to merchant.name, "/merchants/#{merchant.id}"%></h2>

      <% end  %>
      <p>City: <%= merchant.city %> </p>
      <p>State: <%= merchant.state %> </p>
    </section>
  <% end %>
</section>
