<h1><%= @discount.name %></h1>

<p>Percent Off: <%= @discount.percentage %>% </p>

<p>Minimum Eligible Quantity: <%= @discount.threshold %></p>

<%= link_to "Edit Discount", "/merchant/discounts/#{@discount.id}/edit" %>
<%= link_to "Delete Discount", "/merchant/discounts/#{@discount.id}", method: :delete %>
